.background {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

.background img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

body {
    font-family: Gabriela;
    overflow-x: hidden;
    color: rgb(244, 249, 251);
}

.header {
    background: rgba(0, 0, 0, 0.72);
    margin-top: 50px;
    vertical-align: baseline;
    padding-bottom: 20px;
    margin-bottom: 30px;
    text-align: center;
}

form {
    padding: 10px;
    padding-top: 0;
    margin: auto;
}

input,
textarea {
    margin-bottom: 10px;
    resize: none;
}

.btn {
    font-size: 17px;
}

.item img {
    background-size: contain;
    max-height: 300px;
    margin: auto;
}

.back {
    background: rgba(35, 35, 35, 0.42);
}

.carousel {
    margin-bottom: 40px;
    margin-top: 40px;
}

a:hover,
a:active,
a:visited {
    text-decoration: none;
}

.social {
    padding-bottom: 20px;
}

.main {
    margin-top: 30px;
    margin-bottom: 30px;
}

.article {
    text-align: center;
}

span {
    font-weight: bold;
    font-size: 30px;
    color: rgb(53, 140, 201);
}

.info {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    /*text-align: justify;*/
}

.back-back {
    background: rgba(35, 35, 35, 0.7);
    margin-bottom: 30px;
}

.footer {
    background: rgba(0, 0, 0, 0.72);
    text-align: center;
}

.forlist {
    padding: 5px 35px;
    margin-top: 30px;
}

.list {
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.list ol li {
    list-style-type: none;
    margin-bottom: 10px;
    padding-left: 25px;
    position: relative;
}

.list ol li p {
    padding: 8px;
    border-left: 3px solid #999;
}

ol {
    list-style: none;
    counter-reset: list -1;
}

.list ol li:before {
    counter-increment: list;
    content: counter(list) " ";
    font-size: 25px;
    position: absolute;
    left: 0;
    top: 4px;
    font-weight: bold;
}

.photor {
    margin: auto;
    float: left;
    min-width: 345px;
    text-align: left;
}

.photol {
    margin: auto;
    float: right;
    min-width: 345px;
    text-align: right;
}

.photor img,
.photol img {
    min-width: 150px;
    max-width: 150px;
    min-height: 180px;
    max-height: 180px;
    margin-bottom: 15px;
}

.photor img {
    float: left;
    margin-right: 8px;
}

.photol img {
    float: right;
    margin-left: 8px;
}

.photol img:hover,
.photor img:hover {
    -webkit-box-shadow: 28px -4px 39px 1px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 28px -4px 39px 1px rgba(0, 0, 0, 0.37);
    box-shadow: 28px -4px 39px 1px rgba(0, 0, 0, 0.37);
}

.kaf {
    margin-bottom: 30px;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #E8E8E8;
}

::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}

::-webkit-scrollbar-track {
    border-width: 0;
}

::-webkit-scrollbar-track:hover {
    border-left: solid 1px #aaa;
    background-color: #E0E0E0;
}
